:root {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #0f0f0f;
    background-color: #f6f6f6;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #6D7B92;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AppStyle2 {
    width: 666;
    height: 690px;
}